@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

body,html{
   /* height: 100vh; */
   width: 100vw; 
   background-color: rgb(112, 51, 169);
}

#putSrc{
    background-image: url(../materiais/pexels-artawkrn-16761303.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 280px;
    height: 220px;
    border-radius: 20px 20px 0px 0px;
}

main{
    position: absolute;
    background-color: white;
    width: 280px;
    height: 560px;
    border-radius: 20px;
    box-shadow: 0px 2px 20px 7px rgba(0, 0, 0, 0.32);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

main h2{
    text-align: center;
    color: rgb(0, 0, 0);
    font-weight: 600;
    padding-top: 10px;
}
.apresentacao{
    padding-bottom: 10px;
}

.dadosform{
    width: 270px;
    margin: auto;
    padding: 10px;
}

.divinput{
    background-color: rgb(100, 36, 196);
    margin-right: 10px;
    margin-bottom:7px;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.461) 0px 0px 3px 0px;
}

#email{
    width: 215px;
    height: 33px;
    border-radius: 5px;
    border: 3px solid rgb(81, 28, 161);
    padding-left: 5px;
}

#senha{
    width: 215px;
    height: 33px;
    border-radius: 5px;
    border: 3px solid rgb(81, 28, 161);
    padding-left: 5px;
}

#person{
    color: white;
    position: relative;
    top: 7px;
    left: 6px;
    padding-right: 6px;
}

#person:hover{
    transform: scale(1.1);
}

.ButtonLogar{
    background-color: rgb(101, 172, 148);
    color: white;
    border-radius: 5px;
    border: none;
    font-size: 0.9em;
    width: 260px;
    height: 40px;
    margin-bottom: 7px;
    
}

.ButtonLogar:hover{
    background-color: rgb(74, 126, 109);
    color: white;
    transition: 0.2s background-color, 0.2s color;
}

.ButtonForgot{
    background-color: white;
    color: rgb(92, 158, 136);
    font-size: 0.9em;
    border-radius: 5px;
    border: 2px solid rgb(101, 172, 148);
    width: 260px;
    height: 40px;
}

.ButtonForgot:hover{
    background-color: rgb(124, 209, 179);
    color: rgb(65, 107, 93);
    transition: 0.2s background-color, 0.2s color;
}